.square {
  /*width: 25%;*/
  min-width: 75px;
  position: relative;
  border: 1px solid black;
  background-size: cover;
  background-repeat: no-repeat;
  transition: box-shadow .3s;
  border-radius:10px;
}
.square:hover {
  box-shadow: 0 0 20px rgba(33,33,33,1);
  cursor: pointer;
}
/* Mantaining the squares with resizing: */
.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.taxt {
  background-color: black;
  color: white;
}
.sobreLaImagen {
  position: absolute;
  width: 100%;
  height: 100;
}

table {
  width:90%;
  margin:auto;
}

/* Preventing table normal behaviour, so it can put columns one in top of each other */
table td {
  display: inline-block;
}

/* Small devices | Two elements per row */
@media only screen and (min-width: 10px) {
  .elemSize{
    width: 46%;
  }
}

/* Medium or Big devices | Four elements per row */
@media only screen and (min-width: 670px) {
  .elemSize{
    width: 23%;
  }
}

.separator {
  width: 45%;
}